@font-face {
    font-family: "timeburner";
    src: url(portfolio-options-font-collection/timeburner-15111/Timeburner-xJB8.ttf) format(ttf);
    src: url(portfolio-options-font-collection/timeburner-15111/TimeburnerBold-peGR.ttf) format(ttf);
}

body{
   background-color: #3A5A40;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .logo { grid-area: 1 / 1 / 2 / 3; }
    .nav { grid-area: 1 / 3 / 2 / 6; }
    .div3 { grid-area: 2 / 1 / 5 / 6; }
    .footer { grid-area: 5 / 1 / 6 / 6; }

.logo{
    font-family: "timeburner";
    margin:auto;
    font-size: larger;
    background-color: #3A5A40;
    color: #DAD7CD;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.nav {
    text-align: center;
    margin: auto;
    font-family: "timeburner";
    background-color: #3A5A40;
 
    list-style-type: none;
    overflow: hidden;
    float: left;
}
.nav a {
    float: right;
    display: block;
    padding: 15px 15px;
    color: #DAD7CD;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
  }

 .nav a:hover{
    background-color: #A3B18A;
    color: #081c15;
 }

 .nav a:active {
    background-color: #588157;
    color: #081c15;
 }

.div3 {
 font-family: "timeburner";
color: #DAD7CD;
font-size: xx-large;
font-weight: bolder;
text-align: center;
}